body{
    background-color: aqua;
}
header{
    background-color: aliceblue;
    margin-left: -20px;
    margin-right: -20px;
}

header h3{  
    padding-left: 15px;
    color: black;
    text-align: center;
    font-size: 40px;
  </heard>
 < h1
