@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');

body {
    background-color: rgb(0, 17, 255);
    color: black;
    margin: 0;
}


header {

    background-color: aliceblue;
    padding: 10px;
    border-bottom: 10px solid black;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav ul {

    list-style: none;
    margin: 0%;
    padding: 0% display;


}

nav ul li {
    margin: left:20px font: sfze 20px:after
}

header nav ul {

}




header h3 {
    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
    color: black;
    text-align: center;
    font-size: 30px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    color: blue;
    text-decoration: none;
    text-transform: none;
    transition: calor 0.5s;
}

header nav ul li:hover {
    color: blue;


}

header nav ul li a:hover {
    color: rgb(255, 3, 238);
}
.foto{
    display: flex;
    justify-content: center;
}
.foto-perfil{
    width: 130px;
    height: 150px;
    margin: 20px;
    border: 3px solid blue;
    border-radius: 8px;
}



